body{
    font-family: 'Lobster', cursive;
    
}

h1{
    font-size: 100px;
}
h2{
    font-size: 80px;
    text-align: center;
}
h3{
    font-size: 40px;
}
.red{
    color: red;
}
p{
    font-size: 25px;
    text-align: center
    
    

}
.flexble-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 40px;
    padding-top: 100px;
    margin: 0%;
        
}
.half-width img{
    width: 600px;
    padding-top: ;
}
.link-button{
    font-weight: 500;
    color: wheat;
    text-decoration: none;
   background-image: linear-gradient(blue, rgb(0, 255, 234));
    padding: 15px 30px;
    border-radius: 25px;
    
}
.about{
   background-image: url(/Frame\ 58.jpg);
   background-position: 0;
   background-repeat: no-repeat;
   background-size: 150%;i
   
}
.Recipes{

    text-alin: center;
}
.Recipes-food img{
    width: 300px;
    border-radius: 20px;
    margin-left: 3%;
    
}
.food{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 35%;
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px gray;
    
}
footer{
    color: rgb(124, 111, 111);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
text-align: center;
}
.of-white{
    color: rgb(190, 190, 226);
}
.white{
    color: whitesmoke;
}

.Youtube{
    margin-left: 3%;
    margin-right: 3%;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow:10px 10px 10px 5px gray;
}
