body{
    font-family: 'Lobster', cursive;
    
}

h1{
    font-size: 100px;
}
h2{
    font-size: 80px;
    text-align: center;
}
h3{
    font-size: 50px;
}
.red{
    color: red;
}
p{
    font-size: 25px;
    text-align: center

}
.flexble-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 40px;
    padding-top: 100px;
}
.half-width img{
    width: 500px;
    padding-top: ;
}
.link-button{
    font-weight: 500;
    color: wheat;
    text-decoration: none;
   background-image: linear-gradient(blue, rgb(0, 255, 234));
    padding: 15px 30px;
    border-radius: 25px;
    
}
.about{
   background-image: url(/Frame\ 58.jpg);
   background-position: 0;
   background-repeat: no-repeat;
   background-size: 150%;i
   

}
.Recipes{

    text-alin: center;
}
.Recipes-food img{
    width: 300px;
    border-radius: 10px;
    
}
.food{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 20px;
   
    box-shadow: 20px 20px 20px 30px gray;
    
}
footer{
    color: rgb(124, 111, 111);
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
.of-white{
    color: rgb(190, 190, 226);
}
.white{
    color: whitesmoke;
}

